@import "variables";
@import "mixins";
@import "estructuras_repetitivas";
@import "funciones";
@import "menu";

body {
    @include centrar_bloque;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    th, td {
        border: 1px solid black;
        padding: 10px;
        @include centrar_linea;
    }
    th {
        background-color: lime;
    }
}

.izquierda {
    text-align: left;
}

.derecha {
    text-align: right;
}

@media (min-width: 501px) and (max-width: 1000px){
    body{
        table{
            width: calcularAnchura($anchoBase, .5);
        }
    }
}
